.task-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  gap: 0.8rem;
}

.no-tasks {
  color: #99a1af;
  align-self: center;
}
