.task-input {
	padding: 0.5rem;
	flex-grow: 2;
	font-size: 1rem;
	border-radius: 10px;
	border: 1px solid #d1d5dc;
	color: #0a0a0aa9;
	width: 100%;
	padding-right: 60px;
}

.char-limit-reached {
	border: 1px solid red;
}

.input-container {
	position: relative;
	width: 100%;
}

.char-counter {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0.8rem;
	color: #888;
}
